################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeekShopping/.vs/GeekShopping
/RestWithAspNetUdemy/.vs/RestWithAspNetUdemy
/GeekShopping/.vs/ProjectEvaluation
